In [3]:
!pip install soyspacing

Requirement already satisfied: soyspacing in c:\users\user\.conda\envs\brnn\lib\site-packages (1.0.17)
Requirement already satisfied: numpy>=1.12.0 in c:\users\user\.conda\envs\brnn\lib\site-packages (from soyspacing) (1.24.3)

In [4]:
from soyspacing.countbase import CountSpace

# spacing 모델 학습시키기
corpus_fname = './input_text.txt'  # 입력 말뭉치 파일
model = CountSpace()
model.train(corpus_fname)  # spacing 모델 학습

all tags length = 3482712 --> 2431447, (num_doc = 1153473)

In [5]:
# 학습된 spacing 모델 파일로 저장하기
model_fname = "3_spacing_model"
model.save_model(model_fname, json_format=False)

In [1]:
# spacing 모델 파일 불러오기
from soyspacing.countbase import CountSpace
model_fname = "3_spacing_model"
model = CountSpace()
model.load_model(model_fname, json_format=False)

In [21]:
# spacing 함수
def get_spaced_text(input):
    # parameters
    verbose=False
    mc = 10  # min_count
    ft = 0.3 # force_abs_threshold
    nt =-0.3 # nonspace_threshold
    st = 0.3  # space_threshold

    # with parameters
    spaced_text, tags = model.correct(
        doc=input,
        verbose=verbose,
        force_abs_threshold=ft,
        nonspace_threshold=nt,
        space_threshold=st,
        min_count=mc)
    
    # without parameters
    # sent_corrected, tags = model.correct(sent)

    return spaced_text

In [22]:
# 테스트
sent = '행님댓글읽다보니까수급+a로가야살아남을확률이높아지는거구나싶긴함요즘수급만보고매매하는거에한계를느끼긴했음ㅠㅠ글구최근에해운이랑철강한번오고담주는건설일것같음'
print(get_spaced_text(sent))

행님댓글읽다보니까 수급+a로가야살아남을확률이 높아지는거구나 싶긴함요즘수급만 보고 매매하는거에 한계를 느끼긴했음 ㅠㅠ글구최근에해운이랑철강한번 오고담주는건설일것같음

In [14]:
# .csv 파일에 띄어쓰기 적용
import pandas as pd
df = pd.read_csv("2_cleansed_text.csv", encoding="utf-8")
df.tail(3)

,search_keyword,date_created,time_created,writer,is_reply,text,id,cleansed_text
1153471,휴젤,2020-04-29,11:55:10,ㅇㅇ(123.215),0,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,241400125127,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...
1153472,휴젤,2020-04-29,11:56:16,ㅇㄷ(175.223),1,한국 상장회사들중에 ㅂㅅ같은곳이 넘 많음...,241400125127,한국 상장회사들중에 ㅂㅅ은곳이 넘 많음...
1153473,휴젤,2020-04-29,11:56:38,ㅇㅇ(223.33),1,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,241400125127,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.

In [17]:
# 테스트
temp_df = df.iloc[:3].copy()
temp_df

,search_keyword,date_created,time_created,writer,is_reply,text,id,cleansed_text
0,JYP,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..,10100746844,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼ㅂㄹ걍제조업이조음..
1,JYP,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...,10100730087,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...
2,JYP,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ,10100730087,ㅠㅠ

In [23]:
# 테스트
temp_df['spaced_text'] = temp_df['cleansed_text'].apply(get_spaced_text)
temp_df

,search_keyword,date_created,time_created,writer,is_reply,text,id,cleansed_text,spaced_text
0,JYP,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..,10100746844,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼ㅂㄹ걍제조업이조음..,jyp가반년만에 2배가 올랏네 근디보니는인적자원위주로 하는 사업은먼ㅂㄹ걍제조업이조음..
1,JYP,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...,10100730087,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...
2,JYP,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ,10100730087,ㅠㅠ,ㅠㅠ

In [ ]:
# 테스트
temp_df['spaced_text'] = temp_df['cleansed_text'].apply(get_spaced_text)

In [25]:
# 원래 df에 적용
df.tail()

,search_keyword,date_created,time_created,writer,is_reply,text,id,cleansed_text
1153469,휴젤,2020-04-30,20:08:57,사이버경찰,1,갤 잘못온듯,241400137263,갤 잘못온듯
1153470,휴젤,2020-04-30,20:09:36,윤연준(211.108),1,ccl 지금 시총 반도안되는 개잡주들 천지인즛,241400137263,ccl 지금 시총 반도안되는 개잡주들 천지인즛
1153471,휴젤,2020-04-29,11:55:10,ㅇㅇ(123.215),0,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,241400125127,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...
1153472,휴젤,2020-04-29,11:56:16,ㅇㄷ(175.223),1,한국 상장회사들중에 ㅂㅅ같은곳이 넘 많음...,241400125127,한국 상장회사들중에 ㅂㅅ은곳이 넘 많음...
1153473,휴젤,2020-04-29,11:56:38,ㅇㅇ(223.33),1,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,241400125127,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153474 entries, 0 to 1153473
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   search_keyword  1153474 non-null  object
 1   date_created    1153474 non-null  object
 2   time_created    1153474 non-null  object
 3   writer          1153474 non-null  object
 4   is_reply        1153474 non-null  int64
 5   text            1153474 non-null  object
 6   id              1153474 non-null  int64
 7   cleansed_text   1152312 non-null  object
dtypes: int64(2), object(6)
memory usage: 70.4+ MB

In [31]:
df_dropna = df.dropna().copy()
df_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1152312 entries, 0 to 1153473
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   search_keyword  1152312 non-null  object
 1   date_created    1152312 non-null  object
 2   time_created    1152312 non-null  object
 3   writer          1152312 non-null  object
 4   is_reply        1152312 non-null  int64
 5   text            1152312 non-null  object
 6   id              1152312 non-null  int64
 7   cleansed_text   1152312 non-null  object
dtypes: int64(2), object(6)
memory usage: 79.1+ MB

In [29]:
# 원래 df에 적용
df_dropna['spaced_text'] = df_dropna['cleansed_text'].apply(get_spaced_text)
df_dropna.tail()

C:\Users\USER\AppData\Local\Temp\ipykernel_17508\2474845220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropna['spaced_text'] = df_dropna['cleansed_text'].apply(get_spaced_text)

,search_keyword,date_created,time_created,writer,is_reply,text,id,cleansed_text,spaced_text
1153469,휴젤,2020-04-30,20:08:57,사이버경찰,1,갤 잘못온듯,241400137263,갤 잘못온듯,갤 잘못온듯
1153470,휴젤,2020-04-30,20:09:36,윤연준(211.108),1,ccl 지금 시총 반도안되는 개잡주들 천지인즛,241400137263,ccl 지금 시총 반도안되는 개잡주들 천지인즛,ccl 지금 시총 반도 안되는 개잡주들 천지인즛
1153471,휴젤,2020-04-29,11:55:10,ㅇㅇ(123.215),0,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,241400125127,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...,미국주식보다 한국꺼보면 ㄹㅇ 암걸릴 것 같음 특히 휴젤 저거 아는분이 임원진인데 회...
1153472,휴젤,2020-04-29,11:56:16,ㅇㄷ(175.223),1,한국 상장회사들중에 ㅂㅅ같은곳이 넘 많음...,241400125127,한국 상장회사들중에 ㅂㅅ은곳이 넘 많음...,한국 상장회사들중에 ㅂㅅ은곳이 넘 많음...
1153473,휴젤,2020-04-29,11:56:38,ㅇㅇ(223.33),1,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,241400125127,신흥국 회사투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.,신흥국 회사 투자 망설여지는 게 이거 때문임. 주식시장에 대한 개념이 안 잡혀있음.

In [30]:
df_dropna.to_csv("spaced_text.csv", index=False, encoding="utf-8")